//curent
$color_first: #64FFDA;
$color_second: #C67CFF;
$dark_grey: #8892B0;
$light_grey: #CCD6F6;
$bg_color :#0A192F;

$lilac_2: #D28FFF;
$lilac_dark: #6A206B;
$lilac_darker: #3D0029;

//font-family

$font_menu: 'Urbanist', sans-serif;
$font_main: 'Alata', sans-serif;


//maybe

$group2_light_lilac: #F2BDEF;
$group2_lilac: #D091D9;
$group2_lilac_2: #F25CD9;
$group2_lilac_dark: #6A206B;
$group2_lilac_darker: #580259;
$group2_lilac_darker: #73026B;


$group2_light_blue: #ACE5F2;
$group2_blue: #04B2D9;
$group2_blue_2: #04C4D9;
$group2_turquois: #13F2F2;