@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
        text-align: center;
        color: $light_grey;
        font-size: toRem(25);
        line-height: toRem(35);

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: toRem(20);

        @include breakpoint-above(md) {
            flex-direction: row;
        }

        &__header {
           &__subtitle {
                font-size: toRem(30);
                line-height: toRem(50);
                color: $dark_grey;

                span {
                    color: $color_first;
                }
            } 
        }

        &__foto {
            margin: toRem(20);
            width: toRem(200);
            height: toRem(200);
            background-color: $color_second;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }        
    }

    &__text {
        margin: toRem(40);
        line-height: toRem(30);
    }

    &__graphic {
        width: toRem(200);
        height: toRem(100);

        @include breakpoint-above(md) {
            width: toRem(1000);
            height: toRem(500);
        }

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}