@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.template {
    width: toRem(200);
    height: toRem(100);
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    font-family: 'Urbanist', sans-serif;

    &--active {
        transform: rotateY(180deg);
    }

    &__front {
        width: toRem(100);
        height: toRem(50);
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 50px);
        font-size: toRem(20);
        background-color: $color_first;
        backface-visibility: hidden;
    }

    &__back {
        font-size: toRem(30);
        width: toRem(100);
        height: toRem(50);
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 50px);
        background-color: $color_second;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

}