@import '../scss/functions/px-to-rem.scss';
@import '../scss/mixins/breakpoints.scss';
@import '../scss/mixins/reset.scss';

.app {

  
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

  /* width: 1920px; */
  width: 100%;
  height: 100%;
  // height: toRem(1500);
  // text-align: center;
  margin: 0 auto;
  background-color: #0A192F;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Stick No Bills", "arial", sans-serif;

  @include breakpoint-above(md) {
    width: toRem(1280);
  }

  &__banner {
    height: toRem(150);
  }

  &__main {
    display: flex;

    &__sidebar {
      width: toRem(200);
    }

    &__content {
      width: calc(100% - 200px);
      padding: toRem(10);
    }
  }
}
  