@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/colors.scss';

.sidebar {
    position: sticky;
    top: 0;
    margin: toRem(10);

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        height: toRem(70);
        width: toRem(70);
        border-radius: toRem(8);
        color: $color_first;
        font-size: toRem(25);
        transition: border-radius 0.4s ease;
        border: toRem(2) solid $color_first;

        &--x {
            border-radius: 50%;
            transform: rotate(180deg);
            transition: transform 0.5s linear;

        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    
        &--close {
            display: none;
        }

        &__item {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: toRem(5);

            &__link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: toRem(10);
                font-size: toRem(25);
                text-decoration: none;
                border: toRem(2) solid $color_first;
                color: #000000;
                border-radius: toRem(8);

                span {
                    display: none;
                    margin-right: toRem(10);
                    color: #CCD6F6;
                }

                &:hover, &:focus {
                    border-bottom-left-radius: toRem(0);
                    border-top-left-radius: toRem(0);

                    span {
                        display: flex;
                    }
                }

                &__hexagon {
                    width: 50px;
                    height: calc(50px*1.1547);
                    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
                    background: $color_first;
                    display: flex;
                    align-items: center;
                    justify-items: center;

                    svg {
                        font-size: toRem(30);
                        margin: auto;
                    }
                }
            }
        }
    }
}